.open-source{
    display: grid;
    padding: 0.75rem 0rem;
    gap: 0.5rem;
    grid-template-columns: 1fr 3fr;
    .grid-2x2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .open-source-content{
        padding: 0rem 0.5rem;
    }
    .info{
        .positive {
            color: var(--positive);
        }
        .negative {
            color: var(--negative);
        }
        h3{
            margin-bottom: 1rem;
        }
        .chart-card{
            .title {
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                margin: 0;
            }
        
            .value-row {
                display: grid;
                flex-direction: row;
                min-height: 4rem;
                margin: 0;
                margin-bottom: 0.5rem;
            }
        
            .value-row > .value {
                display: inline-block;
                font-size: 28px;
                margin: 0.5rem 0 0 0;
                font-weight: 400;
                color: var(--text-primary);
            }
        
            .change {
                display: flex;
                align-items: flex-end;
                .value {
                    font-weight: 500;
                } 
                .description {
                    font-weight: 400;
                    display: inline-block;
                    color: var(--text-secondary);
                    margin-left: 5px;
                    white-space: nowrap;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .open-source{
        grid-template-columns: 1fr;
        .grid-2x2 {
            grid-template-columns: 1fr;
        }
    }
}