.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bruno Ace SC", cursive;
  .logo-title {
    font-size: 1.25rem;
    color: var(--text);
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    padding: 1rem 0;
    svg {
      position: relative;
      font-size: 1.5rem;
      transform: rotate(-45deg);
    }
    strong{
      font-weight: 700;
      white-space: nowrap;
      text-transform: uppercase;
      // font-weight: 100;
      // font-family: 'Roboto', sans-serif;
      // font-size: 0.625rem;
      // position: relative;
      // top: 4px;
      color: var(--text-secondary);
    }
    &.inline {
      gap: 0.65rem;
      flex-direction: row;
    }
  }
}
