header.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  &:not(.desktop) {
    border-bottom: 1px solid var(--border-dark);
    background-color: var(--background);
    @supports (backdrop-filter: blur(10px)) {
      backdrop-filter: blur(10px);
      background-color: var(--background-backdrop);
    }
  }
  &.desktop{
    .logo{
      svg{
        fill: white;
      }
    }
    .logo span,
    .nav-item {
      color: white !important;
    }
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    .nav-wrapper {
      display: flex;
      .nav-item {
        color: var(--text);
        cursor: pointer;
        text-decoration: none;
        display: flex;
        padding: 1.5rem 0.5rem;
        font-weight: 600;
        font-size: 0.85rem;
        align-items: center;

        .icon {
          display: inline-block;
          font-size: 1rem;
        }

        &.active {
          color: var(--primary);
        }

        &:hover {
          opacity: 0.9;
        }

        &:active {
          opacity: 0.4;
        }

        .icon {
          margin-right: 0.25rem;
        }
      }
    }
  }

  @media screen and (min-width: 640px) {
    .nav-wrapper:not(.mobile) {
      display: flex;
    }

    .nav-wrapper.mobile,
    .nav-icon {
      display: none;
    }
  }

  @media screen and (max-width: 640px) {
    .nav-wrapper {
      margin-right: 0;
      z-index: 1;
    }

    .nav-item {
      padding: 0.35rem 0.25rem;
    }

    .nav-wrapper:not(.mobile) {
      display: none;
    }

    .nav-icon.mobile {
      display: flex;
      // position: fixed;
      right: 0;
      cursor: pointer;
      right: 0;
      height: 100%;
      align-items: center;
      padding: 1.5rem 0rem;

      background-color: transparent;
      border: none;
    }

    .nav-wrapper.mobile {
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      padding: 0;
      height: 100vh;
      box-shadow: 0px 0 5px 1px var(--border-light);
      background: var(--background);
      width: 75%;

      &.closed {
        transform: translate(100%, 0px);
      }

      &.opened {
        transform: translate(0px, 0px);
      }

      .nav-header {
        text-transform: uppercase;
        color: var(--text);
        box-shadow: 0 1px 5px 0 var(--border-light);
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 1.1rem;
        padding: 1.5rem 1rem;
        background-color: var(--background-backdrop);
        align-items: center;
        display: flex;

        .nav-icon {
          padding: 0;
          position: static;
          align-items: center;
          display: flex;
        }
      }

      .nav-item {
        padding: 1.5rem 1rem;
        border-bottom: 1px solid var(--border-light);

        &.active {
          background-color: var(--primary);
          color: white;
        }
      }
    }
  }

  &.default,
  &.desktop {
    padding: 0 1rem;
    .header-wrapper .logo {
      width: unset;
    }
  }
  &.zen {
    .nav-wrapper,
    .nav-icon {
      display: none;
    }
  }
}
