.options {
    height: calc(100vh - 56px - 23px - 66px);
    width: 100%;
    box-sizing: content-box;
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    overflow: auto;
    top: 23px;

    .options-wrapper{
        background-color: white;
        display: flex;
        flex-direction: column;
        max-height: calc(100% - 80px);
        overflow: auto;
        height: 100%;

        max-width: 640px;
        margin: 0 auto;
        border-radius: 0.25rem 0.25rem 0 0;
    }
    
    .header{
        background-color: rgb(24, 24, 24);
        h1{
            padding: 3rem 1rem 1rem 1rem;
            font-size: 1.5rem;
        }
    }
    .pre-content{
        background-color: rgb(24, 24, 24);
        h2{
            padding: 1rem 1rem 1rem 1rem; 
            font-size: 1rem;
        }
    }

    .controls{
        input{
            padding: 1rem;
            border: none;
            width: 100%;
            outline: none;
            background-color: rgb(24, 24, 24);
            // color: rgb(24, 24, 24);
        }
    }
    
    .content {
        padding: 1rem;
        background: rgb(255, 255, 255);
        .conversation-list {
            display: grid;
            .conversation{
                display: flex;
                justify-content: space-between;

                button{
                    background-color: transparent;
                    border: none;
                    opacity: 0.5;
                    cursor: pointer;

                    &:hover {
                            opacity: 1;
                        }
                }

                .conversation-name {
                    text-align: left;
                    flex: 1;
                    color: rgb(24, 24, 24);
                    background-color: none;
                    border: none;

                    font-size: 0.85rem;
                    font-weight: 500;
                    opacity: 0.5;
                    padding: 1rem 0;

                    &.clickable{
                        cursor: pointer;
                        &:hover {
                            opacity: 1;
                        }
                    }

                }

                
                svg{
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: var(--accent);
                }

               
            }

            // & li:first-child {
            //     padding-top: 0;
            // }

            // & li:last-child {
            //     padding-bottom: 0;
            // }

            // & li:not(:last-child) {
            //     border-bottom: 1px solid #efefef;
            // }

           
        }
        box-shadow: 0 0px 4rem 1.5rem whitesmoke;
    }
    .footer{

        max-width: 640px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        font-size: 14px;
        line-height: 21px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 25px;
        background-color: rgb(255, 255, 255);
        height: 80px;
        padding: 0px;
        button{
            flex: 1 1 0%;
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            padding: 18px 3px;
            cursor: pointer;
            transition: all 150ms ease 0s;
            line-height: 14px;
            overflow: hidden;
            text-overflow: clip;
            border: none;
            text-align: center;
            color: rgb(26, 26, 26);
            font-weight: 600;
            gap: 0.25rem;
            svg{
                width: 1.5rem;
                height: 1.5rem;
                fill: inherit
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .options{
        left: 2.5%;
        width: 95%;
        height: 80%;
        // bottom: 20%;
        // top: 5%;
        .header h1{
            font-size: 1rem;
            padding-top: 2rem;
        }
        .pre-content{
            h2{
                font-size: 0.85rem;
            }
        }
        .content{
            .conversation{
                font-size: 0.5rem;
            }
        }
    }
}